# Panda.series.string method

# convert lowercase column

In [1]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400
   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

# STRING UPPER()

In [2]:
df['Courses'] = df['Courses'].str.upper()
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

# STRING length()

In [3]:
df['Courses'] = df['Courses'].str.len()
print(df)

   Courses    Fee Duration Discount
0        5  22000   30days     1000
1        7  25000   50days     2300
2        6  24000   40days     2500
3        6  26000   60days     1400

# STRING strip()

In [4]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)
df['Courses'] = df['Courses'].str.strip()
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400
   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

# string strip

In [5]:
df['Courses'] = df['Courses'].str.strip()
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

# string split

In [6]:
df['Courses'] = df['Courses'].str.split()
print(df)

     Courses    Fee Duration Discount
0    [SPARK]  22000   30days     1000
1  [PYSPARK]  25000   50days     2300
2   [HADOOP]  24000   40days     2500
3   [PANDAS]  26000   60days     1400

# string contains

In [7]:
df['Courses'] = df['Courses'].str.contains('PY')
print(df)

   Courses    Fee Duration Discount
0      NaN  22000   30days     1000
1      NaN  25000   50days     2300
2      NaN  24000   40days     2500
3      NaN  26000   60days     1400

# string replace

In [15]:

df['Courses'] = df['Courses'].str.replace('SPARK', 'PYTHON_SPARK')
print("\nDataFrame after replacement:")
print(df)

DataFrame after replacement:
          Courses    Fee Duration Discount  SubstringIndex
0    PYTHON_SPARK  22000   30days     1000               0
1  PYPYTHON_SPARK  25000   50days     2300               2
2          HADOOP  24000   40days     2500              -1
3          PANDAS  26000   60days     1400              -1

# string startswith

In [16]:

df['StartsWith_P'] = df['Courses'].str.startswith('P')
print("\nDataFrame after startswith check:")
print(df)

DataFrame after startswith check:
          Courses    Fee Duration Discount  SubstringIndex  StartsWith_P
0    PYTHON_SPARK  22000   30days     1000               0          True
1  PYPYTHON_SPARK  25000   50days     2300               2          True
2          HADOOP  24000   40days     2500              -1         False
3          PANDAS  26000   60days     1400              -1          True

# string endswith

In [17]:

df['EndsWith_ARK'] = df['Courses'].str.endswith('ARK')
print("\nDataFrame after endswith check:")
print(df)

DataFrame after endswith check:
          Courses    Fee Duration Discount  SubstringIndex  StartsWith_P  \
0    PYTHON_SPARK  22000   30days     1000               0          True
1  PYPYTHON_SPARK  25000   50days     2300               2          True
2          HADOOP  24000   40days     2500              -1         False
3          PANDAS  26000   60days     1400              -1          True

   EndsWith_ARK
0          True
1          True
2         False
3         False

# string cat

In [18]:
df['Courses'] = df['Courses'].str.cat()
print(df)

                                  Courses    Fee Duration Discount  \
0  PYTHON_SPARKPYPYTHON_SPARKHADOOPPANDAS  22000   30days     1000
1  PYTHON_SPARKPYPYTHON_SPARKHADOOPPANDAS  25000   50days     2300
2  PYTHON_SPARKPYPYTHON_SPARKHADOOPPANDAS  24000   40days     2500
3  PYTHON_SPARKPYPYTHON_SPARKHADOOPPANDAS  26000   60days     1400

   SubstringIndex  StartsWith_P  EndsWith_ARK
0               0          True          True
1               2          True          True
2              -1         False         False
3              -1          True         False

# string get

In [21]:
df['FirstCharacter'] = df['Courses'].str.get(0)
print("\nDataFrame with first character:")
print(df[['Courses', 'FirstCharacter']])

DataFrame with first character:
   Courses FirstCharacter
0    SPARK              S
1  PYSPARK              P
2   HADOOP              H
3   PANDAS              P

# string slice

In [23]:

df['CourseSlice'] = df['Courses'].str[:3]
print("\nDataFrame with sliced course names:")
print(df[['Courses', 'CourseSlice']])

DataFrame with sliced course names:
   Courses CourseSlice
0    SPARK         SPA
1  PYSPARK         PYS
2   HADOOP         HAD
3   PANDAS         PAN

# string find

In [27]:
df['SubstringIndex'] = df['Courses'].str.find('SP')
print("\nDataFrame with substring index:")
print(df[['Courses', 'SubstringIndex']])

DataFrame with substring index:
   Courses  SubstringIndex
0    SPARK               0
1  PYSPARK               2
2   HADOOP              -1
3   PANDAS              -1